# Go binary
be/webterm
be/webterm-backend
be/webterm-backend.exe

# Frontend build
fe/dist/

# Electron
desktop/node_modules
desktop/dist/

# Tauri
desktop-tauri/
run-tauri.sh

# OS
.DS_Store
Thumbs.db

# Env
.env
*.db
.serena