# Go binary
be/webterm
be/webterm-backend
be/webterm-backend.exe
be/main
be/server
be/webterm-backend
*.exe
*.test
*.prof

# Frontend build
fe/dist/

# Electron
desktop/node_modules
desktop/dist/

# Tauri
desktop-tauri/src-tauri/target
desktop-tauri/src-tauri/binaries
desktop-tauri/node_modules
!run-tauri.sh
!desktop-tauri/

# OS
.DS_Store
Thumbs.db

# Env
.env
*.db
.serena